POSTGRES_DB=medify
POSTGRES_USER=medify
POSTGRES_PASSWORD=change-this-database-password
SECRET_KEY=change-this-to-a-long-random-secret
ACCESS_TOKEN_MINUTES=30
REFRESH_TOKEN_DAYS=7
DEMO_MODE=true
NEXT_PUBLIC_APP_NAME=Medify

